
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="stylesheet" href="css/styleee.css">

    <title>Homepage</title>

</head>
    
<body>


 <header>
    <a href="http://localhost:344/PROJECT-GRADUATION-2/views/Index.ejs"class="Active">Homepage</a>
    <a href="http://localhost:344/PROJECT-GRADUATION-2/views/Login.ejs">Login</a>
    <a href="http://localhost:344/PROJECT-GRADUATION-2/views/Medinfo.ejs">Medicine Information</a>  
    <a href="http://localhost:344/PROJECT-GRADUATION-2/views/Medicine-Intraction.ejs">Medicine Interaction</a> 
    <a href="http://localhost:2000/intra">Medicine Interaction Cheacker</a> 
    <a href="http://localhost:2000/product">Product Finder</a>  
    <a href="http://localhost:344/PROJECT-GRADUATION-2/views/contact-us.ejs">Contact-us</a> 

    <div id="userEmailContainer">
        <span id="userEmail"></span>
        <button id="logoutButton">Log out</button>
    </div>
</header>



   

    <div class="animation">

            <div class="loaderPill">

            <div class="loaderPill-anim">

            <div class="loaderPill-anim-bounce">

            <div class="loaderPill-anim-flop">

            <div class="loaderPill-pill"></div>

            </div>

            </div>

            </div>

            <div class="loaderPill-floor">

            <div class="loaderPill-floor-shadow"></div>

            </div>

            <h1 class="loaderPill-text">Homepage</h1>

            </div>

    </div>




    <div class="Intro-icon">

            <img src="media/Intro-icon.PNG" alt="intro icon">

            <p>Welcome to our website, you will find everything you need :)</p>

    </div>





 


<footer>

        <p>&copy;  Project Graduation. All rights reserved.</p>

    </footer>




<script src="js/indexjs.js"></script>

</body>
</html>
