<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Drug Interaction Checker</title>
    <link rel="stylesheet" href="css/styleee.css">

    <header>
    <a href="http://localhost:344/PROJECT-GRADUATION-2/views/Index.ejs">Homepage</a>
    <a href="http://localhost:344/PROJECT-GRADUATION-2/views/Login.ejs">Login</a>
    <a href="http://localhost:344/PROJECT-GRADUATION-2/views/Medinfo.ejs">Medicine Information</a>  
    <a href="http://localhost:344/PROJECT-GRADUATION-2/views/Medicine-Intraction.ejs">Medicine Interaction</a> 
    <a href="http://localhost:2000/intra"class="Active">Medicine Interaction Cheacker</a> 
    <a href="http://localhost:2000/product">Product Finder</a>  
    <a href="http://localhost:344/PROJECT-GRADUATION-2/views/contact-us.ejs">Contact-us</a> 

    <div id="userEmailContainer">
        <span id="userEmail"></span>
        <button id="logoutButton">Log out</button>
    </div>
</header>

 <div class="animation">

            <div class="loaderPill">

            <div class="loaderPill-anim">

            <div class="loaderPill-anim-bounce">

            <div class="loaderPill-anim-flop">

            <div class="loaderPill-pill"></div>

            </div>

            </div>

            </div>

            <div class="loaderPill-floor">

            <div class="loaderPill-floor-shadow"></div>

            </div>

            <h1 class="loaderPill-text">Medicine Interaction Cheacker</h1>

            </div>

    </div>

    


</head>
<body>
    <div class="Checker-sec">
        <h2>Medicine Interaction Checker</h2>
        <form id="interactionForm">
            <div class="form-group">
                <label for="drugs">Enter drug names (comma-separated):</label>
                <input type="text" class="checker-input" id="drugs" name="drugs" required>
                <button type="submit" class="Checker-info-search-button">Check Interactions</button>

            </div>
        </form>
        <div class="results" id="results"></div>
    </div>
    
    <script src="js/indexjs.js"></script>

    <script src="js/intraction_frontend.js"></script>
</body>
</html>