<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="css/styleee.css">
    <title>Medicine Interaction</title>
</head>
<body>
    <?php include 'php/Medicine-intraction.php'; ?>

    <header>
    <a href="http://localhost:344/PROJECT-GRADUATION-2/views/Index.ejs">Homepage</a>
    <a href="http://localhost:344/PROJECT-GRADUATION-2/views/Login.ejs">Login</a>
    <a href="http://localhost:344/PROJECT-GRADUATION-2/views/Medinfo.ejs">Medicine Information</a>  
    <a href="http://localhost:344/PROJECT-GRADUATION-2/views/Medicine-Intraction.ejs"class="Active">Medicine Interaction</a> 
    <a href="http://localhost:2000/intra">Medicine Interaction Cheacker</a> 
    <a href="http://localhost:2000/product">Product Finder</a>  
    <a href="http://localhost:344/PROJECT-GRADUATION-2/views/contact-us.ejs">Contact-us</a> 

    <div id="userEmailContainer">
        <span id="userEmail"></span>
        <button id="logoutButton">Log out</button>
    </div>
</header>



<div class="animation">

            <div class="loaderPill">

            <div class="loaderPill-anim">

            <div class="loaderPill-anim-bounce">

            <div class="loaderPill-anim-flop">

            <div class="loaderPill-pill"></div>

            </div>

            </div>

            </div>

            <div class="loaderPill-floor">

            <div class="loaderPill-floor-shadow"></div>

            </div>

            <h1 class="loaderPill-text">Medicine Interaction</h1>

            </div>

    </div>















    <div class="Title-Medicine-info">
        <h2>Medicine Interaction</h2>
    </div>

    <div class="Medicine-info-search">
        <input type="text" class="Medicine-Name-input" name="Medicine-Name-input" placeholder="Write The Medicine Name Here">
        <button class="Medicine-info-search-button">Get The Info</button>
    </div>

    <div id="Result-Search-Medicines-info-general" class="Result-Search-Medicine-info-general">
        <!-- DATA REQUEST WILL DISPLAY general Interaction HERE FROM OPEN FDA API -->
    </div>

    <div id="Result-Search-Medicines-info-Professional" class="Result-Search-Medicines-info-Professional">
        <!-- DATA REQUEST WILL DISPLAY Professional Interaction HERE FROM OPEN FDA API -->
    </div>

    <script src="js/indexjs.js"></script>
    <script src="js/Medicine-intraction.js"></script>
</body>
</html>
